<div class="flex center-center bg-light-g vh-100">
    <div class="width-90 flex center-center ">
        <div class="flex-1">
            <h1>Stay up to date on your industry</h1>
            <h1 class="p-font-300">Sending messages to people you know is a great way to strengthen relationships as you take the next step in your career.</h1>
        </div>
        <div class="width-40 half-height">
            <img class="full-width full-height" src="welcome2.png" alt="">
        </div>
    </div>
</div>
