<div class="poppins">
    <div class="flex">
        <form class="flex column full-width">
            <p class="no-margin p-font color-d-g margin-t-15px">Email or Phone</p>
            <mat-form-field appearance="outline"  class="full-width">
                <input  matInput>
            </mat-form-field>
            <p class="p-font no-margin color-d-g">Password</p>
            <mat-form-field appearance="outline" class="ful-width">
                <input matInput>
            </mat-form-field>
            <h5 class="color-b no-margin">Forgot password?</h5>
            <button class="btn-font standard-btn primary-btn color-w margin-t-15px" type="button">Sign in</button>
        </form>
    </div>
    <h5 class="color-g" >New to LinkedIn? <a class="color-b pointer" (click)="register()">Join Now</a></h5>
</div>