<div class="poppins">
    <div class="flex gap-05em">
        <div class="square-50px">
            <img class="full-height full-width border-r" src="welcome2.1.png" alt="">
        </div>
        <div class="flex column">
            <p class="no-margin">Sanelisiwe Dlamini</p>
            <small class="font-10px">Chemistry Analyst</small>
            <div class="border-grey gap-05em border-r-30px flex padding-5px center-center hover-bg-grey pointer width-70">
                <mat-icon>add</mat-icon>
                <p class="no-margin ">Follow</p>
            </div>
        </div>
    </div>
</div>