<div class="flex space-between-center border-bottom padding-5px-10px">
    <div class="flex column">
        <small>Simphiwe Zulu</small>
        <div>
            <div>

            </div>
            <small class="font-10px">Available on mobile</small>
        </div>
    </div>
    <div class="flex">
        @for (icon of icons; track icon) {
        <div class="padding-5px hover-bg-l-grey border-r pointer flex center-center">
            <mat-icon>{{icon.name}}</mat-icon>
        </div>

        }
    </div>
</div>