<div class="flex gap-1em">
    <div class="width-26">
        <app-card3></app-card3>
    </div>
    <div class="flex-1 flex column gap-1em">
        <div>
            <mat-card>
                <div class="flex space-between-center padding-20px">
                    <p class="no-margin">No pending invitation</p>
                    <p class="no-margin">Manage</p>
                </div>
            </mat-card>
        </div>
        <div class="margin-b-35px">
            <mat-card>
                <div class="padding-20px flex column gap-1em">
                    <div class="flex space-between-center">
                        <small>Based on your current activity</small>
                        <p class="no-margin">See all</p>
                    </div>
                    <div class="flex wrap gap-06em">
                        @for (profile of profiles; track profile) {
                        <div class="width-23">
                            <app-card4></app-card4>
                        </div>
                        }
                    </div>
                </div>
            </mat-card>
        </div>
    </div>

</div>