<div>
    <mat-card class="box-shadow-hover pointer">
        <div class="border-tr-tl flex gap-1em column">
            <div class="height-65px border bg-p-vg  relative  margin-b-35px  border-tr-tl "></div>
            <div class="absolute top-12px flex center-center full-width">
                <img class="square-100px  full-height full-width border-r" src="welcome2.2.png" alt="">
            </div>
            <div>
                <div class=" flex center-center">
                    <p class="no-margin">Nokulunga Makhathini</p>
                </div>
                <div class="flex center-center">
                    <small class="small-f text-center">Management Information Systems Graduate</small>
                </div>
            </div>
            <div>

                <div class="flex center-center">
                    <div class="flex width-90">
                        <img class="square-20px border-r" src="welcome5.jpeg" alt="">
                        <div class="flex center-center">
                            <p class=" poppins no-margin font-10px text-center">Zamangema Nene and other 50 mutual
                                connection</p>
                        </div>
                    </div>
                </div>
                <div class="padding-10px">
                    <div class="flex center-center gap-1em padding-5px border-r-30px border-b hover-bg-l-b pointer">
                        <mat-icon class="color-b">person_add</mat-icon>
                        <p class="no-margin poppins color-b">Connect</p>
                    </div>

                </div>
                <div class="z-index-1 right top square-30px absolute flex center-center opacity05 bg-black border-r pointer">
                    <mat-icon class="color-w small-f"> close </mat-icon>
                </div>
            </div>
        </div>
    </mat-card>
</div>