<div class="">
    <mat-card class="bg-w">
        <div class="height-50px bg-p-vg relative  margin-b-70px border-tr-tl "></div>
        <div class="absolute top flex center-center full-width">
            <img src="myphoto.jpg" class="square-70px border-r border-w-2px" alt="">
        </div>
        <p class="no-margin poppins text-center">{{loggedInUser.firstname}} {{loggedInUser.lastname}}</p>
        <div class="flex center-center">
            <small class="poppins">Information Systems</small>
            <mat-icon>school</mat-icon>
        </div>
        <hr class="full-width no-margin-b">
        <div class="flex column">
            @for (item of items; track item) {
            <div class="pointer flex space-between-center hover-bg-grey padding-10px">
                <small class="color-g-b">{{item.name}}</small>
                <small class="color-b">{{item.count}}</small>
            </div>
            }

        </div>
        <hr class="full-width no-margin">
        <div class="hover-bg-grey">
            <div class="padding-10px pointer">
                <small class="smaller-f  p-font-300 poppins">Get hired fast with premium</small>
                <div class="flex center-col ">
                    <mat-icon class="">check_box_outline_blank</mat-icon>
                    <small class="poppins smaller-f">Try for ZAR0</small>
                </div>

            </div>
        </div>
        <hr class="full-width no-margin">
        <div class="hover-bg-grey border-br-bl ">
            <div class="padding-10px pointer flex center-col gap-05em">
                <mat-icon>bookmark</mat-icon>
                <small class="height-15px ">Saved items</small>
            </div>

        </div>
    </mat-card>
</div>