<div class="">
    <div class="padding-10px">
        <div class="square-70px">
            <img class="full-height full-width border-r" src="queryImage.jpg" alt="">
        </div>
        <div>
            <p class="no-margin">Simphiwe Nene</p>
            <small>Software Developer</small>
        </div>
    </div>
    <div class="flex gap-1em">
        <div class="flex-1">
            <hr>
        </div>
        <small>July 10</small>
        <div class="flex-1">
            <hr>
        </div>
    </div>
</div>