<mat-card class="flex column margin-b-35px">
    <div class="padding-10px">
        <h5 class="no-margin padding-l-r-10px">Job seeker guidance</h5>
        <small class="no-margin color-grey font-10px padding-l-r-10px">Recommended based on your activity</small>
    </div>
    <div class="hover-bg-grey height-65px  flex gap-1em pointer bg-l-grey padding-10px">
        <p class="underline no-margin no-underline">I want to improve my resume</p>
        <img class="border-r-10px width-70px" src="improve.gif" alt="">
    </div>
    <small class="poppins padding-10px">Explore our curated guide of expert-led courses, such as how to improve your resume and grow your network, to help you land your next opportunity.</small>
    <div class="padding-10px flex gap-05em">
        <small class="poppins">Show more</small>
        <mat-icon >arrow_forward</mat-icon>
    </div>
 
</mat-card>