<div class="width-250px padding-10px profile-menu ">
    <div class="flex gap-1em">
        <div class="square-50px border-r">
            <img class="full-width full-height border-r" src="myphoto.jpg" alt="" srcset="">
        </div>
        <div>
            <h4 class="no-margin">Simphiwe Nene</h4>
            <small class="font-7px">Information Systems</small>
            <div class="flex center-col gap-1em">
                <small>Graduate</small>
                <mat-icon>school</mat-icon>
            </div>
        </div>
    </div>
</div>